@use 'variables' as *;

#sobre-nosotros {
  position: relative;
  background-image: url('img/agua-burbujas.jpg');
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  padding-top: 200px;  
  color: #f4f4f7;  
}

#sobre-nosotros .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 0;
}

#contacto-form {
  background-color: #03242e;
  padding: 20px 0;
  width: 100%;
}
