@use 'variables' as *;

.calendario-container {
  max-width: 900px;
  margin: 10px auto;
  text-align: center;
  

  h2 {
    font-size: 2.2rem;
    font-weight: bold;
  }
}
#sobre-nosotros {
  position: relative;
  background-image: url('../img/agua-burbujas.jpg');
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  padding-top: 200px;  
  color: #f4f4f7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);  
  font-family: $font-primary;
  
}

#sobre-nosotros .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 0;
  
}




#contacto-form {
  background-color: #03242e;
  padding: 20px 0;
  width: 100%;
  color: #f4f4f7;
}

.swimtrip{
  body{
    font-family: $font-primary;
  }
}
 .table-responsive{
  font-family: $font-primary;
}

.daytrip-page{
  font-family: $font-primary;
}

.swim-training-page{
  font-family: $font-primary;
}
