$primary-color: #0077b6;
$secondary-color: #48cae4;
$background-color: #85888f;
$text-color: #fdfdfe;
$dark-color: #03045e;
$padding: 20px;
$margin-standard: 20px;
$hero-height: 400px;
$font-size-p: 1rem;
$font-size-btn: 1.2rem;
$font-size: 3rem;
$font-primary: "Funnel Display", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 500;
