$primary-color: #0077b6;
$secondary-color: #48cae4;
$background-color: #f1faff;
$text-color: #fefdfd;
$dark-color: #03045e;
$padding: 20px;
$margin-standard: 20px;
$hero-height: 400px;
$font-size-p: 1rem;
$font-size-btn: 1.2rem;
$font-primary: "Funnel Display", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
