$primary-color: #0077b6;
$secondary-color: #48cae4;
$background-color: #f1faff;
$text-color: #050505;
$dark-color: #03045e;
$font-stack: 'Arial, sans-serif';
$padding-standard: 20px;
$margin-standard: 20px;
$hero-height: 400px;
$font-size-p: 1.5rem;
$font-size-btn: 1.2rem;
